.todo-window{
    margin: 30px auto 30px auto;
}
.z-label{
	font-size: 14px;
	font-family: Microsoft JhengHei UI Bold;
}

.row-title .z-label{
	font-weight: bold;
	color:#636363;
	font-size: 16px;
}

.complete-todo .z-label{
	text-decoration: line-through;
}

.fn-caption{
	font-weight: bold;
	font-size: medium;
	color: #636363;
}